@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Fondo estilo Windows XP */
body {
  font-family: "Tahoma", "Geneva", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-size: var(--font-size-root);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-root: 16px;
}

.theme-light {
  --bg-main: #f4f7fa;
  --bg-window: #fff;
  --text-main: #213547;
  --text-secondary: #444;
  --window-border: #2563eb;
  --text-link: #2563eb;
  --skill-bg: #dbeafe;
  --font-size-root: 16px;
  background-image: url('/wallpaper.jpg');
}
.theme-dark {
  --bg-main: #181e2a;
  --bg-window: #232b3a;
  --text-main: #e5e7eb;
  --text-secondary: #bfc9d1;
  --window-border: #2563eb;
  --text-link: #60a5fa;
  --skill-bg: #25477c;
  --font-size-root: 16px;
  background-image: url('/wallpaper-dark.png');
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.window-titlebar {
  border-bottom: 1px solid var(--window-border);
}
.bg-white {
  background-color: var(--bg-window) !important;
}
.text-gray-800 {
  color: var(--text-main) !important;
}
.text-gray-600 {
  color: var(--text-secondary) !important;
}
.bg-gray-100 {
  background-color: var(--bg-window) !important;
}

body, h1, h2, h3, h4, h5, h6, p, span, label, input, button, ul, li, a, div {
  font-size: var(--font-size-root);
}

body, html {
  overscroll-behavior: none; /* Evita el scroll elástico en móvil */
  overflow: hidden;          /* Bloquea el scroll */
  touch-action: none;        /* Evita gestos de arrastre */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@plugin 'tailwind-scrollbar';
